// -----------------------------------------------------------------------------
// This file contains user journey flow styles.
// -----------------------------------------------------------------------------

.flow {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none outside none;

  &__step {
    margin-bottom: 2.5rem;
    flex: 0 0 20rem;

    & + & {
      margin-left: 2.5rem;
    }
  }
}
