// -----------------------------------------------------------------------------
// This file contains persona info component styles.
// -----------------------------------------------------------------------------

.persona {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  &__avatar {
    flex: 0 0 calc(4.5rem - 2px);
    height: 4.5rem;
    border-radius: 50%;
    border: 1px solid rgba(#000000, 0.10);
    margin-right: 1rem;
  }

  &__information {
    display: flex;
    flex-flow: column nowrap;
  }


  &__name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  &__job_info {
    color: rgba(#000000, 0.60);
    margin: 0;
  }

  &--tiny {
    border: 1px solid rgba(#000000, 0.10);
    border-radius: 0.75rem;
    padding: 0 0.5rem;
    display: flex;
    flex-flow: row nowrap;

    & > .persona__avatar {
      margin-left: -0.5rem;
      flex: 0 0 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.25rem;
      border: none;
    }

    & > .persona__name {
      flex: 1 1 auto;
      font-size: 0.75rem;
      font-weight: normal;
      color: rgba(#000000, 0.60);
      white-space: nowrap;
    }
  }
}
