// -----------------------------------------------------------------------------
// This file contains app container styles.
// -----------------------------------------------------------------------------

.app_container {
  background: rgba(#000000, 0.05);
  width: 100%;
  min-height: 100%;
  display: inline-block;
}
